body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
}

.blurify {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
}

.blurify>:first-child {
    margin-left: 20px;
}

.blurify>:not(:first-child):not(:last-child) {
    margin-left: 15px;
    margin-right: 15px;
}

.blurify>:last-child {
    margin-right: 20px;
}

.bg {
    background: url("/background.jpg");
    min-height: 100vh;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.hero {
    min-height: 100vh;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.navbar-brand, .hero {
    color: white!important;
}

.nav-link {
    color: black!important;
    width: fit-content;
}

.nav-link:hover {
    color: blueviolet!important;
}

/* remove all properties if screen is mobile */
@media screen and (max-width: 991px) {
    .blurify {
        background: transparent!important;
        border-radius: 0!important;
    }

    .blurify>* {
        margin: 0!important;
    }

    .nav-link {
        color: white!important;
    }
}

.hero-inner > h1 {
    background: rgba(255,255,255,0.5);
    width: fit-content;
    padding: 20px;
    border-radius: 100px;
    color: black;
}

.stylize {
    font-weight: 900;
}